apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-proxy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-proxy
  template:
    metadata:
      labels:
        app: nginx-proxy
    spec:
      containers:
        - name: nginx
          image: nginx:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              rm -f /etc/nginx/conf.d/* && \
              nginx -g "daemon off;";
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
            - name: tls
              mountPath: /etc/nginx/tls
      volumes:
        - name: nginx-config
          configMap:
            name: nginx-config
        - name: tls
          secret:
            secretName: nginx-tls
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy
spec:
  selector:
    app: nginx-proxy
  type: NodePort
  ports:
    - port: 443
      targetPort: 443
      nodePort: 30443

